{% extends "base.html" %}
{% block title %}Моя посещаемость – Электронный журнал{% endblock title %}
{% block content %}
<h2 class="mb-4">Моя посещаемость</h2>
<table class="table table-bordered align-middle">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Предмет</th>
            <th>Тип</th>
            <th>Преподаватель</th>
            <th>Статус</th>
            <th>Примечание</th>
        </tr>
    </thead>
    <tbody>
        {% for att in attendances %}
        <tr>
            <td>{{ att.id_lesson.date }} ({{ att.id_lesson.period.name }})</td>
            <td>{{ att.id_lesson.id_subject.name }}</td>
            <td>{{ att.id_lesson.type.name }}</td>
            <td>{{ att.id_lesson.id_teacher.last_name }} {{ att.id_lesson.id_teacher.first_name }}</td>
            <td>{{ att.status.name }}</td>
            <td>{{ att.note|default:"" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center text-muted">Данные о посещаемости отсутствуют.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "pagination.html" with page_obj=page_obj %}
{% endblock content %}